title
    | !{title}
link(rel='stylesheet', href='/css/style.css')
link(rel="stylesheet", href='/css/bootstrap/css/bootstrap.css')
link(rel="stylesheet", href='/css/fontawesome/css/all.css')
link(rel="stylesheet", href='/css/daterangepicker.css')
