script(type='text/javascript', src='/js/jquery-3.4.0.js')
script(type='text/javascript', src='/js/bootstrap/js/bootstrap.bundle.js')
script(type='text/javascript', src='/js/jquery.slimscroll.min.js')
script(type='text/javascript', src='/js/app.min.js')
script(type='text/javascript', src='/js/icheck.min.js')
script(type='text/javascript', src='/js/fontawesome/js/all.js')