aside.main-sidebar
	section.sidebar
		.user-panel
			.float-left.image
				img(src='/images/user.png',alt='User Image').rounded-circle
			.float-left.info
				p 
				|User Name
		form(action='/inno/search',method='get').sidebar-form
			.input-group
				input(type='text', name='q',placeholder='Search...').form-control
				span.input-group-btn
						button(type='submit', name='search')#search-btn.btn.btn-flat
							i.fa.fa-search
		ul.sidebar-menu
			li.header
				| Product Forms & Repository
			li.treeview
				a(href='#')
					i.fa.fa-file-alt
					span.
						 Forms and Products
				ul.treeview-menu
					li
						a(href='/inno/add')
							i.fa.fa-circle-notch
							span.
								 Forms
					li
						a(href='/inno/')
							i.fa.fa-circle-notch
							span.
								 Product details
			